.img-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    

}
.img-container img{
    width: 100%;
}

@media only screen and (max-width:668px) {

    .img-container{
       
        grid-template-columns: repeat(1 ,1fr);
        
    
    }
    
}