.carousel-item{
    height:100vh;
    min-height:30px;
    background-repeat:no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;

}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}


.slider-btn{
    margin-top: 30px;
}
.slider-btn .btn{
    background-color: #E31C25;
    columns: white;
    border-radius: 0;
    padding: 1rem 2rem;
    font-size: 20px;
    margin-right: 20px;
    color: white;
    

}
.carousel-caption{
    bottom: 100px;
    padding-left:100px;
    padding-right: 100px;
} 
 .carousel-caption h5{
    font-size: 100px;
    font-weight: 700;

}


.slider-btn .btn:hover{
    background-color: #121111;
    color: #FFFFFF;

}
.slider-btn .btn-2{
    background-color: white;
    columns: white;
    border-radius: 0;
    padding: 1rem 2rem;
    font-size: 20px;
    margin-right: 20px;
    color: #E31C25;
    

}
.slider-btn .btn-2:hover{
    background-color:#E31C25 ;
    color: #FFFFFF;
}

@media only screen and (max-width:668px) {
   .res-btn{
       display: flex;
       justify-content: center;
       margin-bottom:-30px;
       margin-left:2px ;
       
       
   }    

   .carousel-caption h5{
      
    font-size:.8rem;
    font-weight: 400;
   
    

                    }


     .carousel-item{
         height: fit-content;
          
        }
        .slider-btn .btn{
            
            
            font-size:.9rem;
            line-height:.9rem;
            padding: .3rem 2rem;
            
           
        }




}